<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Northeast Traditions</title>
    
    <script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/js/phphilosophy.js"></script>
    <script type="text/javascript" src="static/js/payment.js"></script>
   
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">Stripe.setPublishableKey('pk_test_czwzkTp2tactuLOEOqbMTRzG');</script>
    

    <link rel='stylesheet' type='text/css' href="static/css/phphilosophy.css">
    <link href='http://fonts.googleapis.com/css?family=Milonga|Roboto:300,400' rel='stylesheet' type='text/css'>
</head>
<body>

<div id = "headerbar">
<h1 class="h">Northeast Traditions</h1>
<h2 class="h">Fine Antiques Discovered in New England</h2>
<span id="toplinks">
    <a href="#" id="slidelogin">Login</a>
    |
    <a href="#" id="slidecart">Shopping Cart
        [<span id="cartcount">0</span>]
    </a>
    |
    <a href="/checkout" id="checkout">Checkout</a>
    |
    <a href="/">Home</a>
</span>

    <div id="loginpane" class="loginpane">
        <div class="loginbox">
            <form method="post" action="/login" id="login">
            <span class="logintitle">SIGN IN:</span>
                    <div class="formfield">
                        e-mail: <input type="text" name="email">
                    </div>
                    
                    <div class="formfield">
                        password: <input type="password" name="password">
                    </div> 
                <div id="submitlogin" class="bbtn btn">SIGN IN</div>
            </form>
        </div>
        <div class="loginbox">
            <form method="post" action="/newacct" id="newacct">
            <span class="logintitle">CREATE ACCOUNT:</span>
                    <div class="formfield">
                        e-mail: <input type="text" name="email">
                    </div>
                    
                    <div class="formfield">
                        password: <input type="password" name="password">
                    </div>
                    <div class="formfield">
                        confirm password: <input type="password" name="password2">
                    </div>
                <div id="submitnewacct" class="bbtn btn">Create Account</div>
            </form>
        </div>
    </div>
    <div id="cartpane" class="loginpane">
        <div id="cartbox">
            <span class="logintitle">SHOPPING CART:</span>
            <span id="carttext">Your shopping cart currently is empty</span>
            {% for item in cart %}
            <div class="item">
                <img class="itemimage" src="static/productimages/{{item.productid}}.jpg">
                <span class="itemtext">{{item.name}}</span>
            </div>
            {% endfor %}
        </div>
    </div>

</div>