<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Northeast Traditions</title>

    <script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/js/phphilosophy.js"></script>

    <link rel='stylesheet' type='text/css' href="static/css/phphilosophy.css">
    <link href='http://fonts.googleapis.com/css?family=Milonga|Roboto:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div id = "headerbar">
<h1 class="h">Northeast Traditions</h1>
<h2 class="h">Fine Antiques Discovered in New England</h2>
<span id="toplinks">
    <a href="/logout">Logout</a>
    |
    <a href="#" id="slidecart">Shopping Cart</a>
    |
    <a href="/">Home</a>
</span>
    <div id="cartpane">
        <div class="cartbox">
            <span class="logintitle">SHOPPING CART:</span>
            <span id="carttext">Your shopping cart currently is empty</span>
            {% for item in cart %}
            <div class="item">
                <img class="itemimage" src="static/productimages/{{item.productid}}.jpg">
                <span class="itemtext">{{item.name}}</span>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
