html{
    font-family: 'Roboto', sans-serif;
    background:#CCC url('/static/layout/dark_wood.png');
}
body{margin:0 auto; max-width:1200px;}

/*#############  HEADER + NAVBAR  ##############*/
#headerbar{text-align:center;
    color:black;
    margin-top:32px;
    padding-top:16px;
        box-shadow: 0px 4px 7px #888;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom:1px solid #AAA;
    background:#FAFAFA url('/static/layout/linedpaper.png'); 
}    
#headerbar .h{margin:0px; font-weight:300;}
#headerbar h1{font-size:40px;}
#headerbar h2{font-size:22px; font-weight:300;}
#toplinks{bottom:0; left:0;
    padding-left:10px;
    display:block;
    font-size:24px;
    color:#999;
    text-align:left;
}
#toplinks a{
    font-size:18px;
    text-decoration:none; color:black;
    font-weight:bold;
}
#toplinks a:hover{text-decoration:underline;}
#checkout{display:none; padding:0px 5px 0px 5px; border:1px solid white; 
    background-color:green; color:white !important; text-shadow:none !important; text-decoration:none !important;
    border-radius:7px;}
#checkout:hover{background-color:#3A3;}

/*###########      LOGIN        ##############*/
.loginpane{
    display:none;
    text-align:left;
}
.loginpane .btn{margin-left:auto;
    margin-top:5px; width:140px;
    text-align:center;
    box-shadow:none;
}
.loginbox{width:300px; 
    /*border:1px dotted #777;*/
    display:inline-block;
    vertical-align:text-top;
    margin-right:12px;
    /*padding-right:12px;*/
}
.logintitle{font-weight:bold; display:block; padding-bottom:16px;}

/*##################  FORMS  ################*/
.formfield{/*text-align:right;*/}
.btn{max-width:200px;
    cursor:pointer;
    text-align:center;
    font-size:20px; padding:6px 16px 6px 16px;
    box-shadow: 3px 3px 3px #777;
    border-radius:5px; text-shadow: 0px 2px 2px #333;
    margin-bottom:5px;
    }
.bbtn{
    color:#FFF; font-family: Roboto;
    background-color: #bababa;/*4d341c*/
    background-image: -webkit-linear-gradient(top, #bababa, #999999);
    background-image: linear-gradient(to bottom, #bababa, #999999);
    border:1px solid #999999;
}

/*#######  ADMIN PAGES (add item, orders)  ######*/
#bg{background-color:white; min-height:600px; margin:0 auto;
    padding-top:16px;
    background:#DDD url('/static/layout/witewall_3dark.png');    
}
#leftpane{margin-left:25px;width:400px;
    height:100%;
    float:left; border-right:2px solid black;
}
#rightpane{padding-top:25px;
    font-size:24px;
    text-align:center;
}
.order{
    border:1px solid black; width:300px; 
    margin:0em 1em .5em 1em;
    
}
.shipped{
    margin-left:4px;
    display:inline-block;
}

/*###########  PRODUCT DISPLAY  ##############*/
#itemshelfbg{margin:0 auto;
    text-align:center;
    padding: 24px 0px 24px 0px;
        box-shadow: 0px 4px 7px #888;
    background:#DDD url('/static/layout/witewall_3dark.png');
}
.item{width:230px;
    padding:8px 4px 8px 4px;
    display:inline-block;
    text-align:center;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
        background:#FAFAFA url('/static/layout/linedpaper.png'); 
    border:1px solid #AAA;/*see colorizePageItems() in phphilosophy.js*/
    margin-left:10px; margin-right:10px; margin-bottom:18px;
    box-shadow: 3px 3px 7px #999;
}
.details{
    position:absolute;
    background-color:white;
    border:1px solid #AAA;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    width:220px;
    margin:0 auto;
    margin-left:4px;
    display:none; font-weight:bold;}
.productid{display:none;}
.price{}
.addtocart{
    background-color:#EEE;
    border:2px dashed green;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    text-align:middle;
    line-height:32px;
    width:216px;
    height:32px;
}
.itemimage{width:220px;}
.itemname{display:block;}

@media screen and (max-width: 800px) {
    .details{width:125px; margin-left:3px;}
    .addtocart{width:121px; border:2px solid green;}
    .item{width:132px; padding:8px 2px 8px 2px;}
    .itemimage {
        width:125px;
    }
}
#nextpage .btn{margin:0 auto; margin-top:25px;}

/*################SHOPPING CART###################*/
#carttext{font-weight:bold;}
#cartcount{color:black; font-weight:bold;}
#cartbox{}
.cartitem{background-color:white;
    border:1px dashed #AAA; 
    display:inline-block;
    margin:0em 0.25em 0.5em 0.25em;
    width:132px; 
    height:64px;
    text-align:center;
}
/*################# CHECKOUT ######################*/
.payment-errors{color:red; font-size:24px;}
#checkoutform{
    background-color:#FFF;
    font-size:18px;
    margin:0 auto;
    border:1px solid black;
    /*border-top:0;*/
    max-width:500px;
    }
#cardblock{
    display:block;
    position:relative;
    /*overflow:hidden;*/
}
.spacer{display:inline-block; visibility:hidden; margin-top:5px;}
#checkoutsubmit{
    margin-left:2%;
    margin-top:5px;
    max-width:175px;
    display:inline-block;
    /*margin-bottom:5px;*/}    
#finalizeorder{    float:right;
    display:none;
    max-width:175px;
    margin-right:2%;
    }
.formsection{display:block;
    margin-left:2%;
    font-size:20px; font-weight:bold}    
.sp{padding-bottom:0.5em;}
.w10{width: 8%; display: inline-block; margin:0% 1% 0% 1%;}
.w15{width: 13%; display: inline-block; margin:0% 1% 0% 1%;}
.w20{width: 16%; display: inline-block; margin:0% 2% 0% 2%;}
.w30{width: 26%; display: inline-block; margin:0% 2% 0% 2%;}
.w80{width: 76%; display: inline-block; margin:0% 2% 0% 2%;}
label{ width: 100%;}
input{
    font-size:18px;
    border: 1px solid #B3B3B3;
    width: 100%;
    moz-border-radius: 3px;
}