{% include header %}
<div id="bg">
<div id="leftpane">
    <h1>Add Item:</h1>

    <form method="post" enctype="multipart/form-data" action="/additem" id="additem">    
        <div class="type">
            Item Category:
            <select name="category">
                <option value="dolls">Dolls</option>
                <option value="radio">Radio</option>
                <option value="camera">Camera</option>
                <option value="cookware">Cookware</option>
                <option value="furniture">furniture</option>
                <option value="other">Other</option>
                <option value="add">Add Category</option>
            </select>
        </div>

        <div class="desc">
            Item Name / Heading:
            <input type="text" name="name">
        </div>
        
        <div class="desc">
            Item Description:<br>
            <textarea name='description' rows='8' cols='40'></textarea>
        </div>
        
        <div class="desc">
            Item Price:
            <input type="text" name="price">
        </div>
        
        <div class="desc">
            Item Image:
            <input type="file" name="file" id="file"><br>
        </div>
    <!--<input type="submit" value="Add Item">-->
    <div id="submititem" class="bbtn btn">ADD ITEM</div>
    </form>
</div>
<div id="rightpane">
{{failure}}
{% if failure == false %}
    <h1> ITEM ADDED </h1>
    <div class="item">
        <img class="itemimage" alt="product image" src="static/productimages/{{item.productid}}.jpg">
        <span class="itemtext">{{item.name}}</span>
    </div>
    <h2>Name: {{item.name}}</h2>
    <h2>Price: {{item.price}} cents</h2> 
{% endif %}

</div>

</div></body></html>