{% include header %}
<div id="bg">
    <div id="checkoutform">
        
        <form action="/checkout" method="POST" id="payment-form">
            <span class="payment-errors"></span>
            <div id="cardblock">
                <!-- ##### SHIPPING INFORMATION ##### -->
                <span class="formsection">Shipping Information</span>
                <!-- CUSTOMER NAME -->
                <div class="w80 sp">
                    <label for="custname">Name</label>
                    <input id="custname" name="custname" type="text"/>
                </div>
                
                <!-- STREET ADDRESS -->
                <div class="w80 sp">
                    <label for="street">Street</label>
                    <input id="street" name="street" type="text"/>
                </div>

                <!-- CITY -->                
                <div class="w30 sp">
                    <label for="city">City</label>
                    <input id="city" name="city" type="text"/>
                </div>
                
                <!-- STATE -->
                <div class="w30 sp">
                    <label for="state">State</label>
                    <input id="state" name="state" type="text"/>
                </div>
                
                <!-- ZIP -->
                <div class="w20 sp">
                    <label for="zip">ZIP Code</label>
                    <input id="zip" name="zip" type="text"/>
                </div>
                
                <!-- ##### BILLING INFORMATION ##### -->
                <span class="formsection">Billing Information</span>
                <!-- CARD NUMBER -->
                <div class="w80 sp">
                    <label for="cnum">Card Number</label>
                    <input id="cnum" type="text" data-stripe="number"/>
                </div>

                <!-- CARD VERIFICATION CODE -->
                <div class="w20 sp">
                    <label for="cvc">CVC</label>
                    <input id="cvc" type="text" data-stripe="cvc"/>
                </div>
                
                <span class="note">Expiration Date:</span>
                <!-- EXPIRY MONTH -->
                <div class="w10 sp">
                    <span>MM</span>
                    <input type="text" data-stripe="exp-month"/>
                </div>
                
                <!-- EXPIRY YEAR -->
                <div class="w15 sp">
                    <span>YYYY</span>
                    <input type="text" data-stripe="exp-year"/>
                </div>

                <!-- BUTTONS -->
                <br>
                <div id="checkoutsubmit" class="bbtn btn">
                    Finished
                </div>
                <div class="spacer bbtn btn">asd</div>
                <div id="finalizeorder">
                    <button type="submit"  class="bbtn btn">Finalize & Send</button>
                </div>
            </div>
            </form>
        </div>

</div>
</body></html>