{% for item in cart %}
    <div class="cartitem">
        <span class="productid">{{item.productid}}</span><br>
        <span>{{item.name}}</span>
        <a href="#" id="removeitem">Remove</a>
    </div>
{% endfor %}