{% include header %}
<div id="itemshelfbg">
    <div id="itemshelf">
    {% for item in products %}
        <div class="item">
            <div class="details">
                <div class="price">${{item.price / 100.0}}</div>
                <div class="addtocart">Add to Cart</div>
            </div>
            <img class="itemimage" alt="product image" src="static/productimages/{{item.productid}}.jpg">
            <span class="itemname">{{item.name}}</span>
            <span class="productid">{{item.productid}}</span>
        </div>
    {% endfor %}
    </div>

    <div id="nextpage">
        <div class="bbtn btn" id="more_items_button">See More</div>
    </div>    
</div>
</body></html>