result:
{{failure}}
{% if failure == false %}
    <h1> ITEM ADDED </h1>
    <img src="/static/productimages/{{item.productid}}.jpg"><br>
    Name: {{item.name}}<br>
    Price: {{item.price}} cents<br> 
    ID: {{item.productid}}
{% endif %}
