{% include 'header.html' %}
<div id="itemshelf">
    {% for item in products %}
    <div class="item">
        <img class="itemimage" src="static/productimages/{{item.productid}}.jpg">
        <span class="itemtext">{{item.name}}</span>
    </div>
    {% endfor %}
</div>
{% include 'footer.html' %}