    {% for item in products %}
        <div class="item">
            <div class="details">
                <div class="price">${{item.price / 100.0}}</div>
                <div class="addtocart">Add to Cart</div>
            </div>
            <img class="itemimage" src="static/productimages/{{item.productid}}.jpg">
            <span class="itemname">{{item.name}}</span>
            <span class="productid">{{item.productid}}</span>
        </div>
    {% endfor %}