{% include header %}
<div id="bg">
    {% for order in orders %}
    <div class="order">
    <span class="orderfield" style="font-weight:bold">#<span class="ordernumber">{{order.ordernumber}}</span> - {{ order.custname }}</span>
        <ul>
        {% for item in itemarray[order.ordernumber] %}
            <li>{{item.name}} - {{item.productid}}</li>
        {% endfor %}
        </ul>
    <a class="bbtn btn shipped">MARK AS FILLED</a>
    </div>
    {% endfor %}
</div>
</body></html>